
.btn {
	display: inline-block;
}

.btn-success {
	margin-right: 10px;	
}

.prj-title {
    position : relative;
    text-align: left;
}
              
.prj-date-topright {
    position:absolute;
    font-style: italic;
    top: -1px;
    right: -1px;
}
.prj-subtitle {
		
}